# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
myenv/

# VSCode
.vscode/

# Ignore all .log files (general rule comes first)
*.log

# Then ignore all logs inside logs/ (still needed to prevent other large logs)
logs/*.log

# But allow specific small log files
!logs/run_dbt.log
!logs/load_to_postgres.log

# Optionally, explicitly ignore these two large logs
logs/scrape_telegram.log
logs/dbt.log


# Secrets
*.env
*.session

# Data - exclude large media, allow json
data/**/*.jpg
data/**/*.mp4
data/**/*.webp

# Allow sample JSONs in any samples directory
!data/samples/
!data/samples/**/*.json

# Keep your existing raw data rules
!data/raw/
!data/raw/telegram_messages/
!data/raw/telegram_messages/2025-07-10/
!data/raw/telegram_messages/2025-07-10/lobelia4cosmetics.json


# Dagster
dagster_logs/
dagster_home/

# DBT compiled targets
dbt_packages/
target/

# System
.DS_Store
Thumbs.db
